[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = git@git.sambaserver.eprosima.com:fastcdr/fastcdr.git
[submodule "thirdparty/idl"]
	path = thirdparty/idl
	url = git@git.sambaserver.eprosima.com:eprosima-common/idl.git
