[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = http://github.com/eProsima/Fast-CDR.git
[submodule "thirdparty/idl"]
	path = thirdparty/idl
	url = http://github.com/eProsima/IDL-Parser.git
