prompt=no
string_mask 			= utf8only
distinguished_name	= req_distinguished_name

[ req_distinguished_name ]
countryName     		= ES
stateOrProvinceName	= MA
localityName			= Tres Cantos
organizationName		= eProsima
organizationalUnitName  = eProsima
emailAddress			= pwdpub@eprosima.com
commonName				= Password Publisher
