<?xml version="1.0" encoding="UTF-8" ?>
<dds xmlns="http://www.eprosima.com/XMLSchemas/fastRTPS_Profiles" >
    <profiles>
        <data_writer profile_name="datawriter_profile" is_default_profile="true">
            <propertiesPolicy>
                <properties>
                    <property>
                        <name>fastdds.match_local_endpoints</name>
                        <value>false</value>
                    </property>
                </properties>
            </propertiesPolicy>
        </data_writer>

        <data_reader profile_name="datareader_profile" is_default_profile="true">
            <propertiesPolicy>
                <properties>
                    <property>
                        <name>fastdds.match_local_endpoints</name>
                        <value>false</value>
                    </property>
                </properties>
            </propertiesPolicy>
        </data_reader>
    </profiles>
</dds>
