name: Fast DDS Linters CI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  uncrustify:
    name: uncrustify
    runs-on: ubuntu-24.04
    if: ${{ !(github.event_name == 'pull_request') || !contains(github.event.pull_request.labels.*.name, 'conflicts') }}
    steps:
    - name: Run Uncrustify Linter
      uses: eProsima/eProsima-CI/ubuntu/uncrustify@v0
