name: Fast-DDS Ubuntu CI

on:
  workflow_dispatch:
    inputs:
      label:
        description: 'ID associated to the workflow'
        required: true
        type: string
      colcon-args:
        description: 'Extra arguments for colcon cli'
        required: false
        type: string
      cmake-args:
        description: 'Extra arguments for cmake cli'
        required: false
        type: string
      ctest-args:
        description: 'Extra arguments for ctest cli'
        required: false
        type: string
      fastdds_branch:
        description: 'Branch or tag of Fast DDS repository (https://github.com/eProsima/Fast-DDS)'
        type: string
        required: true

  pull_request:
    types:
      - review_requested
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '!**/CMakeLists.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ubuntu-ci:

    strategy:
      fail-fast: false
      matrix:
        os-image:
          - 'ubuntu-22.04'

    if: ${{ (
              !contains(github.event.pull_request.labels.*.name, 'skip-ci') &&
              !contains(github.event.pull_request.labels.*.name, 'conflicts')
            ) }}
    uses: ./.github/workflows/reusable-ubuntu-ci.yml
    with:
      os-image: ${{ matrix.os-image }}
      label: ${{ inputs.label || 'ubuntu-ci' }}
      colcon-args: ${{ inputs.colcon-args }}
      cmake-args: '-DSECURITY=ON ${{ inputs.cmake-args }}'
      ctest-args: ${{ inputs.ctest-args || '-LE xfail' }}
      fastdds-branch: ${{ inputs.fastdds_branch || github.ref || 'master' }}
