name: Fast DDS Sanitizers CI (weekly 2.6.x)

on:
    workflow_dispatch:
    schedule:
      - cron: '0 0 * * 1' # Run at minute 0 on Monday

jobs:
  weekly-sanitizers-ci-2_6_x:
    uses: eProsima/Fast-DDS/.github/workflows/reusable-sanitizers-ci.yml@2.6.x
    with:
      label: 'weekly-sec-sanitizers-ci-2.6.x'
      run_asan_fastdds: true
      run_asan_discovery_server: true
      run_tsan_fastdds: true
      colcon_build_args: ''
      colcon_test_args: ''
      cmake_args: ''
      ctest_args: ''
      fastdds_ref: '2.6.x'
      discovery_server_ref: 'v1.2.1'
