name: Fast DDS MacOS CI (weekly 2.6.x)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1' # Run at minute 0 on Monday

jobs:

  weekly-mac-ci-2_6_x:
    strategy:
      fail-fast: false
      matrix:
        security:
          - 'ON'
          - 'OFF'
    uses: eProsima/Fast-DDS/.github/workflows/reusable-mac-ci.yml@2.6.x
    with:
      label: 'weekly-sec-${{ matrix.security }}-mac-ci-2.6.x'
      cmake-args: "-DSECURITY=${{ matrix.security }} -DTHIRDPARTY_Asio=FORCE"
      ctest-args: "-LE xfail"
      fastdds-branch: '2.6.x'
      use-ccache: false
