name: Fast DDS Windows CI

on:
  workflow_dispatch:
    inputs:
      label:
        description: 'ID associated to the workflow. Must univocally identify artifacts.'
        required: true
        type: string
      colcon-args:
        description: 'Extra arguments for colcon cli'
        required: false
        type: string
      cmake-args:
        description: 'Extra arguments for cmake cli'
        required: false
        type: string
      ctest-args:
        description: 'Extra arguments for ctest cli'
        required: false
        type: string
      fastdds_branch:
        description: 'Branch or tag of Fast DDS repository (https://github.com/eProsima/Fast-DDS)'
        type: string
        required: true
      run-tests:
        description: 'Run test suite of Fast DDS'
        required: false
        type: boolean
        default: true

  pull_request:
    types:
      - review_requested
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '!**/CMakeLists.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  windows-ci:
    if: ${{ (
              !contains(github.event.pull_request.labels.*.name, 'skip-ci') &&
              !contains(github.event.pull_request.labels.*.name, 'conflicts')
            ) }}
    uses: ./.github/workflows/reusable-windows-ci.yml
    with:
      label: ${{ inputs.label || 'windows-ci' }}
      colcon-args: ${{ inputs.colcon-args }}
      cmake-args: '-DSECURITY=ON ${{ inputs.cmake-args }}'
      ctest-args: ${{ inputs.ctest-args }}
      fastdds_branch: ${{ inputs.fastdds_branch || github.ref || '3.4.x' }}
      run-tests: ${{ ((inputs.run-tests == true) && true) || (github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'no-test')) }}
